$color_hover_blue:#3eaafd;
.type-21{
    margin: 50px 0;
    .swiperjs{
        cursor: pointer;
        .slide{
            position: relative;
            margin-right: 0 !important;
            .content-slide{
                position: relative;
            }
            .nl-contents-left{
        		color: white;
            	position: absolute;
            	bottom: 0px;
            	left:15px;
            	   span{
                	   padding-left: 8px;
            	   }
        	   }
            }
            a{
                text-decoration: none;
                color: white;
                &:hover{
                    color: $color_hover_blue;
                    transition: all 0.35s;
                   
                }
            }
            p{
                font-size: .875rem;
                font-weight: 400;
            }
        }
    
    img{
        max-width: 100%;
        // border-radius: 50%;
        width: 300px;
        height: 180px;
    }
}