$color_contents: #000;
$color_date:#999999;
$colo_danh_muc:#3EAAFD;
.type-52{
    margin: 50px 0;
    .title-module{
        margin-bottom: 20px;
    }
    .nl-post-image{
        flex-basis: 10%;
        width: 10%;
        img{
            width: 100px;
            height: 100px;
        }
    }
    .post-content{
        flex-basis: 60%;
        width: 60%;
        padding: 5px 0 0 10px;
        .nl-title{
            margin-bottom: 5px;
            a{
                font-size: 18px;
                line-height: 24px;
                font-weight: 500;
                color: $color_contents;
                text-decoration: none;
            }
        }
    .nl-post-date{
            color: $color_date;
            margin: 2px 0 10px;
            a{
                color: $colo_danh_muc;
                padding: 0;
                display: inline-block;
                margin-right: 5px;
                font-size: 11px;
                font-weight: 500;
                text-decoration: none;
            }
            span{
                display: inline-block;
                font-size: 13px;
                font-weight: 400;
                color: #999999;
                padding-left: 5px;
            }
        }
    }

    ul{
        padding-left: 0;
        .nl-view-list-item{
            margin: 0 0 30px 0;
        }
    }
    
}