$color_hover:#3eaafd;
.type-17{
	margin: 20px;
    img{
            border-radius:1.5%;

        }
    .title-module{
        text-align: center;
    }
	.item-left{
        padding: 3px;
		position: relative;

			.nl-item-image-left{
				position: relative;
				img{
            	width: 100%;
                cursor: pointer;
        		}
        	.nl-contents-left{
        		color: white;
            	position: absolute;
            	bottom: 0px;
            	left:15px;
            	   span{
                	   padding-left: 8px;
            	   }
        	   }
		    }
            .name-img-left{
                text-decoration: none;
                color: white;
                &:hover{
                    color:$color_hover;
                }
            }
        
	}
	.item-right{
/*		border-radius:2%;
		border:1px solid red;*/
		padding: 3px;
		position: relative;
		.nl-item-image-right{
			position: relative;
            cursor: pointer;
				img{
            	width: 100%;
            }
            .nl-contents-right{
        		color: white;
            	position: absolute;
            	bottom: 0px;
            	left:15px;
                
            	span{
                	padding-left: 8px;
            	}
        	}
            .name-img-right{

                text-decoration: none;
                color: white;
                &:hover{
                    color:$color_hover;
                }
            }

		}
	}
}