.type-46{
    margin-top: 50px;
    width: 400px;
    .title{
        border-bottom: 1px solid rgba(0,0,0,.06);
    }
    .send{
        border-radius: 30px;
        background: #3eaafd;
        padding: 10px 35px;
        font-size: 14px;
        font-weight: 500;
        color: white;
        border: none;
    }
}